<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="footer.css" />
</head>
<body>
    <div class="col-4 align-left">&copy; Copyright 2018</div>
    <div class="col-8 align-right">
        <h3>Please like our page!</h3>
        <a href="https://www.facebook.com/karli.hansen.737">
            <img class="icon" src="/images/facebook-icon.png"
                 alt="Facebook icon">
        </a>
        <a href="https://www.instagram.com/karlihansen_hhn/">
            <img class="icon" src="/images/instagram-icon.png"
                 alt="Instagram icon">
        </a>
    </div>
</body>
</html>