<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap-css/bootstrap.min.css" />
    <link rel="stylesheet" href="col.css" />
    <link rel="stylesheet" href="HH&N.css" />
    <link rel="stylesheet" href="cart.css" />

    <title>HH&N Products</title>
</head>
<body>
    {{> navbar}}
    <div class="col-2">
        <img class="panel-image" src="images/side-plant.png" />
    </div>
    <div id="description" class="col-8">
        <h1>Your Cart</h1>
        <div id="cart-content" class="col-12">You currently have no items in your cart!</div>
        <div class='nameList col-6'>
            <form action="/products" method="get">
                <button class="bottomButton" type="submit">
                    Continue Browsing
                </button>
            </form>
        </div>
        <div class='priceList col-6'>
                <button class="bottomButton" type="button" onclick="confirmPurchase()">
                    Confirm Order
                </button>
        </div>
        <footer>
            {{> footer}}
        </footer>
    </div>
    <div class="col-2">
        <img class="panel-image" src="images/side-plant.png" />
    </div>
</body>
</html>

<script>
    window.onload = function showCartItems() {
        if (sessionStorage.getItem('cart') && JSON.parse(sessionStorage.getItem('cart')).length != 0) {
            var cartObject = JSON.parse(sessionStorage.getItem('cart'));
            var cartContent = '';
            var total = 0;
            var numItems = 0;
            for (; numItems < cartObject.length; numItems++) {
                cartContent += `<div class='col-12 itemSection'><div class='nameList col-6'>${cartObject[numItems].name}<br />`;
                cartContent += `<button class='removeButton' onclick="removeFromCart('${numItems}')"> Remove Item</button><br />`;
                cartContent += `</div><div class='priceList col-6'>$${cartObject[numItems].price}<br /></div></div>`;
                total += JSON.parse(cartObject[numItems].price);
            }
            cartContent += `<div class='nameList col-6'>Number of Item(s): ${numItems}</div>`;
            cartContent += `<div class='priceList col-6'> Total: $${total}</div >`;
            document.getElementById("cart-content").innerHTML = cartContent;

            var cartObject = JSON.parse(sessionStorage.getItem('cart'));
            document.getElementById('number-in-cart').innerHTML = `${cartObject.length} In Cart`;
        } 
    }
    function showSession() {
        var cartObject = JSON.parse(sessionStorage.getItem('cart'));
        for (var i = 0; i < cartObject.length; i++) {
            console.log(JSON.stringify(cartObject[i].name));
            console.log(JSON.stringify(cartObject[i].price));
            console.log(JSON.stringify(cartObject[i].picture));
        }
    }

    function confirmPurchase() {
        var cartObject = JSON.parse(sessionStorage.getItem('cart'));
        for (var i = 0; i < cartObject.length; i++) {
            console.log(JSON.stringify(cartObject[i].name));
            console.log(JSON.stringify(cartObject[i].price));
            console.log(JSON.stringify(cartObject[i].picture));
            var httpRequest = new XMLHttpRequest();
            httpRequest.onreadystatechange = function () {
                if (this.readyState == 4 && this.status === 200) {
                    var responseObj = JSON.parse(this.responseText);
                    var responseMessage = '';
                    if (responseObj.status === 'ok') {
                        responseMessage = '<h1>Thank you for shopping with us!</h1>';
                        responseMessage += '<p> Your items will be available for pickup within 3 days.</p > ';
                        document.getElementById('description').innerHTML = responseMessage;
                        sessionStorage.clear();
                    } else {
                        responseMessage = "Please login before confirming your order!";
                        document.getElementById("cart-content").innerHTML = responseMessage;
                    }
                } else {
                    
                }
            };

            httpRequest.open("GET", `/confirm-purchase-query?name=${cartObject[i].name}&price=${cartObject[i].price}&picture=${cartObject[i].picture}`, true);
            httpRequest.send();
        }
    }

    function removeFromCart(itemSlot)
    {
        var cartObject = JSON.parse(sessionStorage.getItem('cart'));
        cartObject.splice(itemSlot, 1);
        sessionStorage.setItem('cart', JSON.stringify(cartObject));
        location.reload();

    }
</script>