<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap-css/bootstrap.min.css" />
    <link rel="stylesheet" href="col.css" />
    <link rel="stylesheet" href="HH&N.css" />
    <link rel="stylesheet" href="signup.css" />
    <title>HH&N Signup</title>
</head>
<body>
    {{> navbar}}
    <div class="col-2">
        <img class="panel-image" src="images/side-plant.png" />
    </div>
    <div id="description" class="col-8">
        <h1>Create your account</h1>
        <p id="errorMessage"></p>
        <form action="javascript:createAccount()" method="post" onsubmit="return checkPasswordContent()">
            <p>Full Name</p>
            <div class="col-12">
                <input type="text" id="userName" name="userName" required />
            </div>
            <p>Email address</p>
            <div class="col-12">
                <input type="email" id="userEmail" name="userEmail" required />
            </div>
            <p>Password</p>
            <div class="col-12">
                <input type="password" id="userPassword" name="userPassword" required /><span id="errorStar1"></span>
            </div>
            <p>Password Verification</p>
            <div class="col-12">
                <input type="password" id="userVerify" name="userVerify" required /><span id="errorStar2"></span>
            </div>
            <p>Phone (Optional)</p>
            <div class="col-12">
                <input type="tel" id="userPhone" name="userPhone">
            </div>
            <button type="submit">Create Account</button>
        </form>
        <footer>
            {{> footer}}
        </footer>
    </div>
    <div class="col-2">
        <img class="panel-image" src="images/side-plant.png" />
    </div>
</body>
</html>

<script>
    function createAccount()
    {
        var httpRequest    = new XMLHttpRequest();
        var name           = document.getElementById("userName").value;
        var email          = document.getElementById("userEmail").value;
        var password       = document.getElementById("userPassword").value;
        var passwordVerify = document.getElementById("userVerify").value;
        if (document.getElementById("userPhone").value)
        {
            var phone = document.getElementById("userPhone").value;
        }
        else
        {
            var phone = " ";
        }
        httpRequest.onreadystatechange = function ()
        {
            if (this.readyState == 4 && this.status == 200)
            {
                var queryStatus = JSON.parse(this.responseText);
                if (queryStatus.status === 'ok') {
                    createPerson(name, email, phone);
                } else {
                    document.getElementById("errorMessage").style.visibility = "visible";
                    document.getElementById("errorMessage").innerHTML = queryStatus.error;
                    document.getElementById("errorStar1").innerHTML = ' *';
                    document.getElementById("errorStar2").innerHTML = ' *';
                }
            } 
        };
        httpRequest.open('POST','/create-user-query', true);
        httpRequest.setRequestHeader('Content-Type', 'application/json');
        httpRequest.send(JSON.stringify({ email: email, password: password }));
    }

    function createPerson(name, email, phone) {
        var httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var queryStatus = JSON.parse(this.responseText);
                if (queryStatus.status === 'ok') {
                    window.location.href = "/services";
                } 
            }
        };
        httpRequest.open('POST', '/create-person-query', true);
        httpRequest.setRequestHeader('Content-Type', 'application/json');
        httpRequest.send(JSON.stringify({ email: email, name: name, phone: phone }));
    }

    function checkPasswordContent()
    {
        var userPassword = document.getElementById("userPassword").value;
        var userVerify   = document.getElementById("userVerify").value;
        if (userPassword !== userVerify)
        {
            document.getElementById("errorMessage").innerHTML = "Password does not match verification";
            document.getElementById("errorStar1").innerHTML = ' *';
            document.getElementById("errorStar2").innerHTML = ' *';
            return false;
        }
        else
        {
            return true;
        }
    }
</script>