<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap-css/bootstrap.min.css" />
    <link rel="stylesheet" href="col.css" />
    <link rel="stylesheet" href="HH&N.css" />
    <link rel="stylesheet" href="login.css" />
    <title>HH&N Edit Appointment</title>
</head>
<body>
    {{> navbar}}
    <div class="col-2">
        <img class="panel-image" src="images/side-plant.png" />
    </div>
    <div id="description" class="col-8">
        <div class="col-12">
            <h1>Edit Appointment</h1>
            <form action="appointmentEdited.php" onsubmit="return validateForm()" method="post">
                <select name="serviceType" onchange="serviceDescription(this)" required></select>
                <div id="serviceDetails" class="col-12">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <u>Service Name</u><br />
                    </div>
                    <div class="col-2"><u>Duration</u><br /> minutes</div>
                    <div class="col-1"><u>Cost</u><br />$</div>
                </div>
                <div class="col-12">
                    <div class="col-2"></div>
                    <div class="col-4">
                        Date<br />
                        <input style="width: 150px;" id="appointmentDate" type="date" name="date" value="" required>
                    </div>
                    <div class="col-4">
                        Time<br />
                        <select id="selectTimeslot" name="time" required></select>
                    </div>
                </div>
                <div class="col-12">
                    Additional Information for Service Provider<br />
                    <textarea name="info" rows="4" cols="50" maxlength="250"></textarea>
                    <input type="hidden" name="appointmentId" value="" />
                </div>
                <div class="col-12">
                    <button type="submit">Confirm Changes</button>
                </div>
            </form>
        </div>
        <footer>
            {{> footer}}
        </footer>
    </div>
    <div class="col-2">
        <img class="panel-image" src="images/side-plant.png" />
    </div>
</body>
</html>

<script>
    function serviceDescription(serviceId)
    {
        var httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function ()
        {
            if (this.readyState == 4 && this.status == 200)
            {
                //change number of items in navbar
                document.getElementById("serviceDetails").innerHTML = this.responseText;
            }
        };

        httpRequest.open("POST","displayService.php", true);
        //this is required for post method only
        httpRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        httpRequest.send("serviceId=" + serviceId.value);
    }
    function validateForm()
    {
        var appointmentDate = new Date(document.getElementById("appointmentDate").value);
        var today = new Date();

        if(appointmentDate.getDay() == 6)
        {
            alert("We're not open on Sunday!");
            return false;
        }
        else if (appointmentDate < today)
        {
            alert("Can't schedule an appointment for the past!");
            return false;
        }
        else
        {
            return true;
        }
    }
</script>