<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap-css/bootstrap.min.css" />
    <link rel="stylesheet" href="col.css" />
    <link rel="stylesheet" href="HH&N.css" />
    <link rel="stylesheet" href="login.css" />
    <title>HH&N Login</title>
</head>
<body>
    {{> navbar}}
    <div class="col-2">
        <img class="panel-image" src="images/side-plant.png" />
    </div>
    <div id="description" class="col-8">
        <h1>Sign in to your account</h1>
        <div id="errorMessage">Invalid Email or Password</div>
        <div class="col-12">Email address</div>
        <div class="col-12">
            <input id="emailInput" type="email" required />
        </div>
        <div class="col-12">Password</div>
        <div class="col-12">
            <input id="passwordInput" type="password" required />
        </div>
        <button onclick="setSessionVariables()">Sign In</button>
        <hr />
        <div class="col-12">
            <h3>Don't have an account?</h3>
            <a id="signupLink" href="signup.php">
                Create a new account
            </a>
        </div>
        <footer>
            {{> footer}}
        </footer>
    </div>
    <div class="col-2">
        <img class="panel-image" src="images/side-plant.png" />
    </div>
</body>
</html>
