<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap-css/bootstrap.min.css" />
    <link rel="stylesheet" href="col.css" />
    <link rel="stylesheet" href="HH&N.css" />
    <link rel="stylesheet" href="previous.css" />
    <title>HH&N History</title>
</head>
<body>
    {{> navbar}}
    <div class="col-2">
        <img class="panel-image" src="images/side-plant.png" />
    </div>
    <div id="description" class="col-8">
        <h1>Items Purchased</h1>
        <div id="purchases-content" class="col-12">
            <div class="col-12 product-item">
                <div class="col-3"><img class="product-image" src=""></div>
                <div class="product-spec col-9 left">
                    <h5></h5>
                    oz<br />
                </div>
            </div>
        </div>
        <footer>
            {{> footer}}
        </footer>
    </div>
    <div class="col-2">
        <img class="panel-image" src="images/side-plant.png" />
    </div>
</body>
</html>

<script>
    window.onload = function displayPurchases() {
        var httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function () {
            if (this.readyState == 4 && this.status === 200) {
                var purchasesObj = JSON.parse(this.responseText);
                console.log(purchasesObj);
                var purchasesMessage = '';
                for (var i = 0; i < purchasesObj.length; i++) {
                    purchasesMessage += `<div class="col-12 product-item" >`;
                    purchasesMessage += `<div class="col-3"><img class="product-image" src="${purchasesObj[i].picture}"></div>`;
                    purchasesMessage += `<div class="product-spec col-9 left">`;
                    purchasesMessage += `<h5>${purchasesObj[i].product}</h5>`;
                    purchasesMessage += `<br /></div></div>`;
                }
                document.getElementById('purchases-content').innerHTML = purchasesMessage;
            }
            else if (this.readyState == 4) {
            }
        };

        httpRequest.open("GET", '/product-history-query', true);
        httpRequest.send();
    }
</script>
