<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap-css/bootstrap.min.css" />
    <link rel="stylesheet" href="col.css" />
    <link rel="stylesheet" href="HH&N.css" />
    <link rel="stylesheet" href="previous.css" />
    <title>HH&N History</title>
</head>
<body>
    {{> navbar}}
    <div class="col-2">
        <img class="panel-image" src="images/side-plant.png" />
    </div>
    <div id="description" class="col-8">
        <div class="col-12">
            <h1>Items Purchased</h1>
            <div class="col-12 product-item">
                <div class="col-3"><img class="product-image" src="' . $_SESSION['pastItemPicture'][$i] . '"></div>
                <div class="product-spec col-9 left">
                    <h5></h5>
                     oz<br />
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <img class="panel-image" src="images/side-plant.png" />
    </div>
</body>
</html>
